<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
<include file="Public/left" />

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">文章管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="__CONTROLLER__/sort">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增文章</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <!-- <th>排序</th> -->
                            <th>ID</th>
                            <th width="10%">文章标题</th>
                            <th width="15%">文章缩略图</th>
                            <th width="50%">文章描述</th>
                            <th>文章对应分类</th>
                            <!-- <th>审核状态</th>
                            <th>点击</th>
                            <th>发布人</th>
                            <th>更新时间</th>
                            <th>评论</th> !-->
                            <th>操作</th>
                        </tr>
                        <volist name='list' id='vo'>
                            <tr>
                                <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                                <!-- <td>
                                    <input class="common-input sort-input" name="{$vo.id}" value="{$vo.sort}" type="text">
                                </td> -->
                                <td>{$vo.id}</td>
                                <td title="{$vo.title}">{$vo.title}</td>
                                <td title="{$vo.pic}">
                                <if condition="$vo['pic'] neq ''">
                                <img src="__ROOT__/{$vo.pic}" height="30px">
                                <else />暂无缩略图
                                </if>
                                </td>
                                <td title="{$vo.descr}">{$vo.descr}</td>
                                <td>{$vo.catename}</td>

                                <!-- <td>0</td>
                                <td>2</td>
                                <td>admin</td>
                                <td>2014-03-15 21:11:01</td>
                                <td></td> -->
                                <td>
                                    <a class="link-update" href="__CONTROLLER__/edi/id/{$vo.id}">修改</a>
                                    <a class="link-del" onclick="return confirm('确定要删除吗')" href="__CONTROLLER__/del/id/{$vo.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                    </table>    
                    <div class="list-page">{$show}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>